.project-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin-block-start: 3rem;
}

@media screen and (max-width: 768px) {
  .project-grid {
    grid-template-columns: 1fr;
  }
}