.base {
  display: inline-block;
  border: none;
  background: none;
  font-family: inherit;
  font-size: 1rem;
  color: var(--text);
  padding: 1em 2em;
  border: 1px solid var(--stroke-strong);
  border-radius: 999rem;
  transition: 150ms;
}

.base:hover {
  background: var(--button-hover);
}