.section {
  background: var(--bg);
  padding-inline: var(--page-padding-inline);
  padding-block: var(--page-padding-block);
}

.section:first-of-type {
  padding-top: 12rem;
}

.content {
  max-width: var(--content-width);
  margin-inline: auto;
}

.section h2 {
  font-size: 2rem;
  margin-block-end: 3rem;
}

.section h2:first-letter {
  color: var(--magenta);
}

.section h2.large {
  font-size: 5rem;
}

.section h3 {
  font-size: 1.5rem;
  margin-block-end: 1rem;
}

.section p {
  font-size: 1.35rem;
  line-height: 1.65em;
  color: var(--text-light);
  margin-block-end: 1rem;
}

@media screen and (max-width: 640px) {
  .section h2.large {
    font-size: 3.5rem;
  }
  .section p {
    font-size: 1rem;
  }
}