.base {
  margin-block-end: 4rem;
}

.skills {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

@media screen and (max-width: 640px) {
  .skills {
    gap: 0.5rem;
  }
}

.base ul {
  margin-left: 1em;
}